<div class="footer-color">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6">
        <div class="text-start">
          <h3>Sobre nós</h3>
          <p>
            Bem-vindo ao GitFood, o seu novo ponto de encontro para descobrir,
            compartilhar e organizar receitas deliciosas! Nossa missão é
            simplificar a vida na cozinha, oferecendo um espaço onde você pode
            encontrar desde pratos simples do dia a dia até criações mais
            sofisticadas, tudo em um só lugar.
          </p>

          <span>Aqui no GitFood, você pode:</span>
          <br /><br />
          <ul>
            <li>Explorar receitas incríveis</li>
            <li>Publicar suas próprias criações culinária</li>
            <li>Salvar suas receitas favoritas em</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <h3 class="">Contato</h3>
        <p>Email:gitfood@2024empresa.com</p>
        <p>Telefone: (82) 1234-5678</p>
      </div>
    </div>
    <hr />
    <div class="row text-center">
      <div class="col-md-12">
        <p>&copy; 2024 Gitfood. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</div>

<style>
  .footer-color {
    background-color: #cbb3b3;
    color: white;
    padding: 10px 0;
    text-align: center;
    container: fixed;
  }
</style>
